@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

div.center {
    margin: auto;
}

html {
    scroll-behavior: smooth;
}

div.login-body {
    display: none;
}

div.logged-in-body {
    display: none;
}

body {
    background-color: #000000;
    color: #fff;
}

/* Login Page */

div.login-body {
    margin-top: 2%;
    position: relative;
}

div.login-body h1 {
    font-size: 7rem;
    font-weight: 600;
    width: 100%;
    margin: auto;
    padding-bottom: 0.7rem;
}

div.login-body p {
    font-size: 2rem;
    font-weight: 400;
    padding-bottom: 4rem;
    width: 100%;
    margin: auto;
}


span.colored-text {
    color: #1ed760
}


div.login-text {
    margin-top: 13%;
    text-align: center;
    z-index: 10;
    width: 100%;
    position: absolute;
}

button.login {
    background: #1db954;
    border: none;
    border-radius: 100px;
    padding: 1rem;
    width: 12rem;
    font-weight: 500;
    font-size: 1.25rem;
    color: #000000;
    box-shadow: 0 0 60px #1db954;
    transition: transform 0.4s;
}

button.login:hover {
    color: #000000;
    background: #1db954;
    transform: scale(1.1);
}

.login:not(:disabled):not(:disabled):active {
    background-color: #1db954;
    color: #000000;
}

#particles-js {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

/* NAVBAR STYLES */

nav {
    background-color: #1a1a1a;
}

span.logo-text {
    font-size: 3rem;
    color: #fff;
    font-weight: 600;
    width: 100%;
    margin: auto;
    letter-spacing: 0.01rem;
    padding-left: 2.2rem;
}

.nav-link {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    transition: 0.4s ease;
}

.nav-item {
    padding-right: 2.2rem;
    margin: auto;
}

.nav-link:hover {
    color: #1ed760;
    transition: 0.4s ease
}

#nav-pfp {
    border-radius: 50%;
    object-fit: cover;
    width: 2.8rem;
    height: 2.8rem;
}

.dropdown-menu {
    right: 0 !important;
    left: auto !important;
    background-color: #1a1a1a;
}

.dropdown-item {
    color: #fff;
    transition: 0.4s ease;
    font-weight: 500;
}

.dropdown-item:hover {
    color: #1ed760;
    background-color: #1a1a1a;
    transition: 0.4s ease;
}

#log-out {
    font-size: 0.9rem;
    text-decoration: underline;
}

#logged-as {
    font-size: 1.2rem;
}

/* RECENTLY PLAYED SECTION */

div.recent-song {
    display: flex;
    background-color: #1a1a1a;
    margin: 2rem;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

div.recently-played {
    margin-top: 3rem;
    margin-left: 1.2rem;
    margin-right: 1.2rem;

}

div.recent-song {
    transition: 0.4s ease;
}

div.recent-song:hover {
    transform: scale(1.025);
    transition: 0.4s ease;
}

h1.title {
    margin-left: 2rem;
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 0;
}

div.recent-song img {
    width: 6rem;
    border-radius: 1rem;
    box-shadow: 0 0 15px #000;
    margin-left: 2rem;
}



div.recent-song h1 {
    font-size: 1.6rem;
    font-weight: 600;
}

div.recent-song p {
    margin-bottom: 0;
    font-size: 1.1rem;
    font-weight: 500;
}

/* CARD */

div.artist-card {
    background-color: #1a1a1a;
    border-radius: 0.5rem;
    margin: auto;
    padding: 0.5rem;
    transition: 0.4s ease;
}

div.top-artists {
    margin-top: 5rem;
    padding-bottom: 2rem;
}

div.top-artists>h1 {
    margin-left: 3rem;
    margin-bottom: 1rem;
}

div.artist-card-text h1 {
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    width: 100%;
    padding: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.artist-card-img {
    width: 100%;
    /* Set the desired width for the square */
    height: 0;
    padding-bottom: 100%;
    /* Create a square shape based on the width */
    position: relative;
    overflow: hidden;
    margin: 0;
}

div.artist-card-img img {
    display: block;
    width: 100%;
    padding: 1rem;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 8px;
}

a {
    text-decoration: none;
    color: #fff;
}

div.artist-card:hover {
    background-color: #000000;
    transition: 0.4s ease;
    transform: scale(1.1);
}

/* TOP TRACKS SECTION */

div.top-tracks {
    margin-top: 4rem;
    padding-bottom: 2rem;
}

div.top-tracks>h1 {
    margin-left: 4rem;
    margin-bottom: 1rem;
}

div.top-track {
    display: flex;
    background-color: #1a1a1a;
    margin: auto;
    margin-bottom: 1rem;
    padding: 1.2rem;
    border-radius: 0.5rem;
    transition: 0.4s ease;
    width: 85%;
    align-items: center;
    overflow: hidden;
}

div.top-track div.col-6 h1 {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    width: 100%;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.top-track h1 {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    width: 100%;
    margin: 0;
}

div.top-track p {
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
    width: 100%;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.top-track img {
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

div.buttons div.col-4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.buttons {
    padding: 2rem;
    padding-bottom: 3rem;
}

div.buttons button {
    background-color: #000;
    border: none;
    border-radius: 100px;
    padding: 1rem;
    width: 12rem;
    font-weight: 500;
    font-size: 1.25rem;
    color: #fff;
    transition: transform 0.4s;
}

div.buttons button:hover {
    background-color: #000;
    border: none;
    color: #1ed760;
    transition: 0.4s ease;
}

div.buttons button:active,
div.buttons button:focus {
    background-color: #000 !important;
    border: none !important;
    outline: none !important;
}

.active {
    background-color: #000;
    border: none !important;
    outline: none !important;
    color: #1ed760 !important;
    transition: 0.4s ease;
}

div.top-track:hover {
    background-color: #000000;
    transition: 0.4s ease;
    transform: scale(1.05);
}

/* FOOTER */
div.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
}